<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurants</title>
    <!-- Google material icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include("partials/navbar.ejs", {isAuthenticated, current: "home"}) %>

    <header class="blue-container main-header p-5">
      <div>
        <h1>Restaurants</h1>
      </div>
    </header>

    <section class="white-container content-layout">
      <div class="d-flex justify-content-between mb-5">
        <form action="/" method="GET" class="d-flex">
          <div class="form-input-wrapper mr-2">
            <input type="text" name="name" placeholder="Restaurant name..." />
          </div>
          <div>
            <input type="submit" class="primary-btn small-btn" value="Search" />
          </div>
        </form>
        <div class="form-input-wrapper">
          <select name="cuisine">
            <% for (let i = 0; i < cuisines.length; i++) { %>
            <option value="<%= cuisines[i].cuisine_id %>">
              <%= cuisines[i].cuisine_name %>
            </option>
            <% } %>
          </select>
        </div>
      </div>

      <ul class="grid-layout">
        <% for (let i = 0; i < restaurants.length; i++) { %>
        <li>
          <a
            href="/restaurant/<%= restaurants[i].restaurant_id %>"
            class="white-card restaurant-card"
          >
            <div class="restaurant-img-wrapper">
              <img
                src="/img/<%= restaurants[i].image_url %>"
                alt="restaurant"
              />
            </div>
            <div class="restaurant-content">
              <h4><%= restaurants[i].restaurant_name %></h4>
              <p><%= restaurants[i].restaurant_synopsis %></p>
            </div>
          </a>
        </li>
        <% } %>
      </ul>
    </section>

    <%- include("partials/footer.ejs") %>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="js/global.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
